* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
html,
body,
#__next,
.container {
  font-family: monospace;
  line-height: 1.3;
  background: #1a1a1a;
  color: #eee;
  height: 100vh;
  width: 100vw;
  margin: 0 !important;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

pre,
code {
  color: #90ee90;
}
h1 {
  margin: 1rem 0;
  text-align: center;
}


.spin {
  transition: transform 0.3s ease-out;
}

.spin:hover {
  transform: scale(1.2);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.textInput{
  transition: all 0.15s ease-out;
}
.textInput:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
}

::placeholder {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}